.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 199);
  color: black;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;

  .img {
    margin: 0px 5px;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: rgb(164, 164, 164);
  }
}

.containerBtn {
  display: flex;
  align-items: center;
}

.countPizzaCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: aliceblue;
  border-radius: 50%;
}

.countDecrement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: aliceblue;
  border-radius: 50%;

  &:hover {
    box-shadow: -2px 5px 5px 3px rgba(0, 0, 0, 0.341);
  }
}

.countCart {
  display: flex;
  align-items: center;
  justify-content: center;
}
