.button {
  display: flex;
  justify-content: center;
  background-color: rgb(199, 199, 199);
  color: black;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgb(164, 164, 164);
  }
}
