* {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  font-family: Nunito;
  border: none;
  outline: none;

  text-decoration: none;
  color: inherit;
}

body {
  background-color: antiquewhite;
}
